In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
fast_recall_results = pd.read_csv('../Data/serial_recall_1_fast05.csv')
slow_recall_results = pd.read_csv('../Data/serial_recall_1_slow4.csv')

In [9]:
fast_recall_results.head()

,trial,sequence,response,correct,total,proportion,extra
0,1,"4,3,3,2,6,9,7,7","4,3,3,2,6,9,9,7",7,8,0.875,"[(6, '7', '9')]"
1,2,"0,7,7,2,5,3,1,4","0,7,7,2,5,3,1,4",8,8,1.000,[]
2,3,"8,1,3,6,6,4,9,0","8,1,3,6,4,9,0,1",4,8,0.500,"[(4, '6', '4'), (5, '4', '9'), (6, '9', '0'), ..."
3,4,"5,3,5,2,5,1,6,3","5,3,5,2,5,1,6,3",8,8,1.000,[]
4,5,"3,0,5,9,2,8,6,3","5,2,0,9,6,3,8,5",1,8,0.125,"[(0, '3', '5'), (1, '0', '2'), (2, '5', '0'), ..."

In [4]:
from scipy.stats import norm

# Function to calculate confidence intervals
def calculate_confidence_interval(data, confidence=0.95):
    z = norm.ppf(1 - (1 - confidence) / 2)  # Z-score for the given confidence level
    data['ci_lower'] = data['proportion'] - z * ((data['proportion'] * (1 - data['proportion'])) / data['total']) ** 0.5
    data['ci_upper'] = data['proportion'] + z * ((data['proportion'] * (1 - data['proportion'])) / data['total']) ** 0.5
    return data

# Apply the function to both datasets
fast_recall_results = calculate_confidence_interval(fast_recall_results)
slow_recall_results = calculate_confidence_interval(slow_recall_results)

# Display the updated DataFrame
fast_recall_results[['proportion', 'ci_lower', 'ci_upper']].head()

   proportion  ci_lower  ci_upper
0       0.875  0.645828  1.104172
1       1.000  1.000000  1.000000
2       0.500  0.153524  0.846476
3       1.000  1.000000  1.000000
4       0.125 -0.104172  0.354172